* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5ebe1;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0;
    background-color: rgb(250, 246, 246);
    color: #646357;
    padding: 13px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.habit_card {
    background-color: #eeeeee;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #646357;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    width: 100%;

}

.elementDiv {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
}

.name_span {
    padding-left: 5px;
    font-size: 25px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.complete_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: #4ca;
    color: white;

    border: none;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style: 20px;

    transition: all 0.2s ease;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.delete_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: #df4834;
    color: white;

    border: none;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style: 20px;

    transition: all 0.2s ease;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.complete_button:hover {
    background-color: #45a049;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.complete_button:active {
    transform: scale(0.95);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.complete_button.completed {
    background-color: #7f84f3;
}

#form_opener {
    display: block;
    margin: 4px 9px;
    padding: 15px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.2s;
}

#form_opener:hover {
    background-color: #45a049;
}

#form_window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#form_window.hidden {
    display: none !important;
}

#form_content {
    background: white;
    margin: 10px auto;
    padding: 30px;
    border-radius: 16px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
}

.sumbit_button {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: #4ca;
    color: white;

    border: none;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style: 20px;

    transition: all 0.2s ease;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#close_button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

#close_button {
    color: black;
}

.form_block {
    margin-bottom: 20px;
}

.form_block label {
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
}

.form_block input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-style: 16px;
}

.form_block input[type="color"] {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}