<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
</head>

<body>
    <h3>
        Habits List
    </h3>

    <button id="form_opener">Add</button>

    <div id="form_window" , class="form_window hidden">
        <div id="form_content">
            <span id="close_button">&times;</span>
            <h2>Habit create</h2>
            <form id="habit_create">
                <div class="form_block">
                    <label for="form_habit_name">Name:</label>
                    <input type="text" , id="form_habit_name" , name="habit_name" , required>
                </div>
                <div class="form_block">
                    <label for="form_habit_color">Color:</label>
                    <input type="color" , id="form_habit_color" , name="habit_color" , required>
                </div>
                <div class="form_block">
                    <button type="submit" class="sumbit_button">Submit</button>
                </div>

            </form>
        </div>
    </div>

    <div class="container" id="habits_list"></div>
    <script src="{{url_for('static', filename='script.js')}}"></script>

</body>

</html>